*{
    margin: 0;
    padding: 0;
    box-sizing :border-box
}
a {
    color:#2199df;
    text-decoration: unset;

}

ul{
    margin-left: 1.5rem;
    list-style:none;
}
button,
input[type="submit"]{
    border:none;
    background:none;
    color:unset;
    cursor:pointer;
}

h1,h2,h3,h4,h5,h6,p,ul,ol{
    margin:1em;
}

/*general*/
body{
    font-family: "Roboto",sans-serif;
}

/*Header*/
#header{
    height:50px;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    display: flex;
}

#header .title{
    margin: 0;
    padding:0 1rem;
    color:white;
}
#header .auth-options{
    height:100%;
    display:flex;
}
#header .auth-options button{
    padding:0 1rem;
    background-color: #b91b1b;
    color:white;
    font-size: 1.1rem;
}
#header .auth-options button:hover{
    background-color: #ca2626;
}